body {
    font-family: Verdana;
    background-color: var(--color-bright);
    color: black;
}
body, div, p, h1, h2, h3, h4, h5, h6, .pseudoH3 {
    margin: 0;
    padding: 0;
}
:root {
    --color-button-bg: rgba(239,239,239,1);
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--color-bright);
        color: black;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #252529;
        color: white;
    }
}

/* HEADERS */
/* ============================================================================ */
h1, h2, h3, .pseudoH3 {
    color: var(--color-main);
    font-weight: bold;
}
h1 {
    font-size: 2.0em;
    margin-top: 25pt;
    margin-bottom: 5pt;
    padding-left: 2pt;
    color: white;
    background-color: var(--color-main);
}
h2 {
    font-size: 1.7em;
    margin-top: 10pt;
    margin-bottom: 5pt;
    border-bottom: 3px solid;
}
h3, .pseudoH3 {
    font-size: 1.3em;
    margin-top: 10pt;
    margin-bottom: 5pt;
}

/* BASICS */
/* ============================================================================ */
p {
    margin-top: 8px;
    margin-bottom: 4px;
}
a {
    color: var(--color-main);
}
a:hover {
    color: var(--color-normal);
}
ol, ul {
    margin-top: 2px;
    margin-bottom: 8px;
}
ol.prosa ul {
    margin-bottom: 0;
}
ol.prosa li {
    margin-bottom: 5px;
}
img {
    margin-top: 4px;
    margin-bottom: 4px;
}
button, input, select, textarea, optgroup {
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
}
button {
    cursor: pointer;
}
button:disabled, button[disabled] {
  cursor: default;
}

.invisible {
    display: none;
}

/* TITLE */
/* ============================================================================ */
#titleContainer {
    background-color: var(--color-main);
    color: white;
    border-top: 15px solid var(--color-dark);
    border-bottom: 15px solid var(--color-dark);
}
#title {
    /* top right bottom left */
    padding: 10px 20px 10px 20px;
    font-size: 3em;
    text-align: center;
}
#navigationContainer {
    border-bottom: 2px solid var(--color-button-bg);
    padding-bottom: 10px;
}
#tocTitle {
    font-weight: bold;
    margin-top: 10px;
}
.tocRow:after {
    content: "";
    display: table;
    clear: both;

}
.tocCol {
    float: left;
    width: 50%;
}

/* CONTAINERS */
/* ============================================================================ */
#middleWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
#middleCentered {
    width: 800px;
    padding-top: 15px;
}
.center {
    display: flex;
    justify-content: center;
}
.videoContainer, .imageContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* TABS */
/* ============================================================================ */
.tabBar {
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid var(--color-button-bg);
}
.tabBar > .tabButton:first-child {
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}
.tabBar > .tabButton:last-child {
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}
.tabButton {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    background-color: var(--color-button-bg);
}
.tabButton:hover {
    color: white;
    background: var(--color-normal);
}
.tabButton[disabled]:hover {
    background: var(--color-dark);
}
.tabActive {
    color: white;
    background: var(--color-dark);
}

/* TABLE */
/* ============================================================================ */
table, th, td, tr {
    padding: 5px;
    margin: 0;
}
th, td {
    border: 0;
}
.td1 {
    background-color: #F4F4F4;
}
.td2 {
    background-color: white;
}
th {
    background-color: var(--color-main);
    color: white;
}

/* YOUTUBE VIDEO */
/* ============================================================================ */
iframe {
    width: 600px;
    height: 339px;
    margin-top: 10px;
    margin-bottom: 0;
}
.caption {
    margin-top: 2px;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 0.9em;
}

/* MISC */
/* ============================================================================ */
.caption {
    padding-top: 0;
    margin-top: 0;
    text-align: center;
}
