:root {
    --color-bright: #C4D8F5;
    --color-normal: #7B86D7;
    --color-main: #596AD1;
    --color-dark: #42509E;
}

table#animalHopOn td, table#animalHopOff td {
    text-align: center;
    color: black;
}
