:root {
    --color-bright: #C4D8F5;
    --color-normal: #7B86D7;
    --color-main: #596AD1;
    --color-dark: #42509E;
}

table#animalHopOn td, table#animalHopOff td {
    text-align: center;
    color: black;
}

img#book {
    filter: drop-shadow(rgba(0,0,0,0.2) 2px 5px 4px);
}
